<%- include('partials/header', { title: 'Users' }) %>
<header>
    <h1>Usuarios</h1>
    <nav>
        <a href="/users">Home</a> |
        <a href="/users/create">Create User</a>
    </nav>
</header>
<ul>
    <% users.forEach(user => { %>
        <li>
            <a href="/users/<%= user.id %>"><%= user.name %></a>
            <a href="/users/<%= user.id %>/edit">Edit</a>
            <form action="/users/<%= user.id %>/delete" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
<%- include('partials/footer') %>